.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.auth {
  width: max-content;
  margin: 0 auto;
}

.auth__wrap {
  width: 100%;
}

.auth .auth__text {
  text-align: center;
}

.auth__form {
  margin-bottom: 2rem;
}

.auth__link {
  display: inline-block;
  text-align: center;
  width: 100%;
  color: #000;
}

.text-field--large {
  width: 100%;
}

.select {
  width: 200px;
}

.navigation {
  display: flex;
  flex-direction: row;
  width: max-content;
  margin-left: auto;
  list-style: none;
}

.main {
  display: flex;
  flex: 1;
  min-height: 0;
}

.main .container {
  flex: 1;
  overflow: auto;
  padding: 2rem;
  padding-top: calc(2rem + 64px);
  flex-grow: 1;
}

.main .container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.main .container::-webkit-scrollbar-thumb {
  background-color: #43a047;
  outline: 1px solid slategrey;
}

.main .container::-webkit-scrollbar {
  width: 5px;
}
