.auth {
  width: max-content;
  margin: 0 auto;
}

.auth__wrap {
  width: 100%;
}

.auth .auth__text {
  text-align: center;
}

.auth__form {
  margin-bottom: 2rem;
}

.auth__link {
  display: inline-block;
  text-align: center;
  width: 100%;
  color: #000;
}

.text-field--large {
  width: 100%;
}

.select {
  width: 200px;
}

.navigation {
  display: flex;
  flex-direction: row;
  width: max-content;
  margin-left: auto;
  list-style: none;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.main .container {
  padding: 2rem;
  padding-top: calc(2rem + 64px);
  flex-grow: 1;
}
